* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gelasio, sans-serif;
}

input:not([type="checkbox"]), button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body{
    background-image: url('bg_img.jpg');
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 10%;
}

section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h1{
    margin-bottom: 1rem;
    color: white;
    font-size: 2.3rem;
}

.logo{
    width: 250px;
    margin-bottom: 1.5rem;
}

.createTask input[type=text]{
    display: block;
    width: 100%;
    padding: 1.25rem;
    background-color: white;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.createTask input[type=submit]{
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: rgb(131, 106, 184);
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.createTask input[type=submit]:hover{
    opacity: 0.75;
}

.todoList .todoItem{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.todoItem label{
    display: block;
    margin-right: 1rem; 
    cursor: pointer;
}

.todoItem .taskContent{
    flex: 0%;
}

.todoItem .taskContent input{
    font-size: 0.9rem;
}

.todoItem .taskActions{
    display: flex;
    align-items: center;
}

.todoItem .taskActions button{
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.todoItem .taskActions button:hover{
    opacity:0.75;
}

.todoItem .taskActions .edit{
    margin-right: 0.5rem;
    background-color: rgb(131, 106, 184);
    color: white;
}

.todoItem .taskActions .delete{
    background-color: rgb(231, 63, 33);
    color: white;
}

.todoItem.done .taskContent input{
    text-decoration: line-through;
    color: gray;
}

#doneBtn{
    transition: 0.3s;
    transition-property: transform;
}

#doneBtn:hover{
    transform: scale(1.2);
}